.btn {
  background-color: $buttonBgColor;
  color: $buttonTextColor;
  font-family: $font-family-sans-serif;
  transition: all 0.3s ease-in-out;
  border: $buttonBorder;

  &:hover {
    background-color: $buttonBgColorHover !important;
    color: $buttonTextColorHover !important;
    transform: scale(1.2);
    border: $buttonBorderHover;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  }
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: $buttonFontSize;
  font-weight: $buttonFontWeight;
  text-transform: uppercase;
  border: $buttonBorderHover;
  border-radius: $buttonBorderRadius;
}

.btn-xl-outline {
  padding: 1.2rem 2.2rem;
  font-size: $buttonFontSize;
  font-weight: $buttonFontWeight;
  text-transform: uppercase;
  border: $buttonBorder;
  border-radius: $buttonBorderRadius;
}

.btn-nav {
  background-color: $buttonBgColor !important;
  color: $buttonTextColor !important;
  font-weight: $buttonFontWeight !important;
  text-transform: uppercase !important;
  border: $buttonBorder !important;
  border-radius: $buttonBorderRadius !important;
  &:active,
  &:hover {
    background-color: $buttonBgColorHover !important;
    color: $buttonTextColorHover !important;
  }
}
